<ion-view view-title="Feed">
  <ion-content>

    <ion-list>
      <ion-item class="col card" ng-repeat="">
        <div class="col responsive-sm">

          <div class="col item">
            <h2>Mansoor Amin{{order.shopName | uppercase}}</h2>
            <p>{{bReq}}3 unit of {{gb}} A positive blood required.</p>
            <p>At {{hospitalName}} Indus Hospital for my {{relation}}Friend </p>
            <p><b>Urgency:</b>{{Urgency}} Urgent</p>
            <p><b>contact at:</b>{{contactNo}} 46468994644869</p>
            <p><b>Additional instructions:</b></p>

              <ul>
                <li>call me when you reach hospital</li>
                <li>call me when you reach hospital</li>
              </ul>

            <p>Volunteers uptill now: {{}}5</p>
            <p>Current requirment: {{}}5</p>
          </div>
          <div class="row item">
            <button class="col button button-outline button-positive" ui-sref="" >Volunteer</button>
            <button class="col button button-outline button-positive" ng-click="" >Comment</button>
          </div>

        </div>
      </ion-item>

      <ion-item class="col card">
        <div class="col responsive-sm">

          <div class="col item">
            <h2>Mansoor Amin{{order.shopName | uppercase}}</h2>
            <p>{{bReq}}3 unit of {{gb}} A positive blood required.</p>
            <p>At {{hospitalName}} Indus Hospital for my {{relation}}Friend </p>
            <p><b>Urgency:</b>{{Urgency}} Urgent</p>
            <p><b>contact at:</b>{{contactNo}} 46468994644869</p>
            <p><b>Additional instructions:</b></p>

              <ul>
                <li>call me when you reach hospital</li>
                <li>call me when you reach hospital</li>
              </ul>

            <p>Volunteers uptill now: {{}}5</p>
            <p>Current requirment: {{}}5</p>
          </div>
          <div class="row item">
            <button class="col button button-outline button-positive" ui-sref="" >Volunteer</button>
            <button class="col button button-outline button-positive" ng-click="" >Comment</button>
          </div>

        </div>
      </ion-item>

      <ion-item class="col card">
        <div class="col responsive-sm">

          <div class="col item">
            <h2>Mansoor Amin{{order.shopName | uppercase}}</h2>
            <p>{{bReq}}3 unit of {{gb}} A positive blood required.</p>
            <p>At {{hospitalName}} Indus Hospital for my {{relation}}Friend </p>
            <p><b>Urgency:</b>{{Urgency}} Urgent</p>
            <p><b>contact at:</b>{{contactNo}} 46468994644869</p>
            <p><b>Additional instructions:</b></p>

              <ul>
                <li>call me when you reach hospital</li>
                <li>call me when you reach hospital</li>
              </ul>

            <p>Volunteers uptill now: {{}}5</p>
            <p>Current requirment: {{}}5</p>
          </div>
          <div class="row item">
            <button class="col button button-outline button-positive" ui-sref="" >Volunteer</button>
            <button class="col button button-outline button-positive" ng-click="" >Comment</button>
          </div>

        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
